--------------------------------------------------------------------------------------------------------------------------------------------------
Teaser Report for Active Rain (and all external websites)
--------------------------------------------------------------------------------------------------------------------------------------------------
TITLE: Anna, Texas home sales surge December, 2015
<p>Houses sold in Anna grew 38% this December, with 32 properties sold during December. This year there have been 369 home sales overall, which is a 28% rise from last year. There were 31 new housing listings during December. This month, the number of new home properties listed in Anna rose 3%. Year-to-date new listings are at 571 overall, which is a 23% increase from last year. Listed homes under contract so far this year grew 33% relative to the same month last year, with 496 houses sold. There were 36 listings under contract this month, which is a 50% surge from last month. This December, the average price for a home was about $189,729, which is a 15% upturn from a month ago. So far this year, the average home sales price for homes in Anna was approximately $189,186, which is a 11% surge compared to the same period last year. 
<a href='http://www.dfwhomevaluesreport.com/idx/search.html?search_city[]=anna' rel='nofollow'>Click here to view homes in Anna.</a></p>
<div style='width: 500px; margin: 20px auto 0 auto'> 
<h3><a href='http://www.dfwhomevaluesreport.com/blog/anna-home-values/' rel='nofollow'>Anna Home Values Report</a></h3>
<p>Register online for monthly home value updates on your city and neighborhood, automatically emailed to you.</p>
</div>
<div style='clear: both'>&nbsp;</div>
</div>
<p><img title=Anna December Home Values Summary' src='http://www.dfwteamrealty.com/wp-content/uploads/2016/03/anna-december-home-values-summary.jpg' alt='' width='600' /></p>
--------------------------------------------------------------------------------------------------------------------------------------------------
Full Report (for DFW Team Realty site)
--------------------------------------------------------------------------------------------------------------------------------------------------
TITLE: Anna, Texas housing sales gain December, 2015
<p>Houses sold in Anna grew 38% this December, with 32 properties sold during December. This year there have been 369 home sales overall, which is a 28% rise from last year. </p>
<p>There were 31 new housing listings during December. This month, the number of new home properties listed in Anna rose 3%. Year-to-date new listings are at 571 overall, which is a 23% increase from last year. Listed homes under contract so far this year grew 33% relative to the same month last year, with 496 houses sold. There were 36 listings under contract this month, which is a 50% surge from last month. Overall this year, housing sales went up 11% compared to the same period last year, the average price for a house being $189,186. The average selling price in Anna gained 15% during December . </p>
<p>The average percentage of original list prices received year-to-date is 98%, which is a 0% increase compared to the same period last year. During December, buyers received 97% of their asking price, a 0% surge from last month. The days on market until sale in Anna dipped 21%, at 39 days on market until sale. Days on market until sale year-to-date fell 10% compared to the same month last year, at 32 days on market until sale. The current supply of active listings on the market in Anna dipped 21%, with the market supply of homes at 49 houses. There was a 1.2 month supply of available homes this December, a 38% decrease from last month. </p>
"<p>MLS Area 21 is the Multiple Listing Service Access number for Anna, as designated by the North Texas Real Estate Information System.  There are 13 counties and two major metropolitan divisions in DFW - 
 Dallas-Plano-Irving and Fort Worth - which stretch across over 9,000 square miles. The DFW metroplex is sixth largest by Gross Metropolitan Product in the United States, and is about tenth largest by GMP in the world. The DFW area is the most populous metropolitan region in Texas and in the South. It ranks fourth in the United States and tenth in the Americas.  </p>"
<p>You can <a href='http://www.dfwhomevaluesreport.com/idx/register.html' rel='nofollow'>register</a> on our website to have monthly updates on your city and neighborhood automatically emailed to you from DFW Team Realty. SearchAnna Texas homes, foreclosures, and short sales to find homes in Anna. This service is FREE and available without any obligation from DFWTeamRealty.com.</p>
<img src='http://www.dfwteamrealty.com/wp-content/uploads/2016/03/anna-december-home-values-report.jpg' alt='Anna Texas Real Estate December 2015' width='600' height='693' class='aligncenter size-full wp-image-7400' />
<style>#link-to-listings {margin:0 0 15px 0;}#link-to-listings a {text-decoration:none; text-transform:uppercase; font-size:10px; color:#fff;background:#68a; border-radius:5px; padding:5px 6px;}</style>
<p>By <a href='/blog/' rel='author'>Bob Baesmann</a></p>
<div id="link-to-listings"><a href="http://dfwteamrealty.com/addison-homes-and-real-estate">Click here to view listings in this area</a></div>
--------------------------------------------------------------------------------------------------------------------------------------------------
Modified Full Report (for DFW Home Values site)
--------------------------------------------------------------------------------------------------------------------------------------------------
TITLE: Anna, Texas housing sales gain December, 2015
<p>Houses sold in Anna grew 38% this December, with 32 properties sold during December. This year there have been 369 home sales overall, which is a 28% rise from last year. </p>
<p>Year-to-date, new home properties listed are at 571 in all. New listings year-to-date increased 23% compared to the same period last year. This month, 31 new houses were listed in Anna, which is a 3% growth from last month. Year-to-date there have been 496 listed homes under contract overall, which is a 33% upturn from last year. There were 36 listings under contract this month, which is a 50% surge from last month. This December, the average price for a home was about $189,729, which is a 15% upturn from a month ago. So far this year, the average home sales price for homes in Anna was approximately $189,186, which is a 11% surge compared to the same period last year. </p>
<p>The average percentage of original list prices received year-to-date is 98%, which is a 0% increase compared to the same period last year. During December, buyers received 97% of their asking price, a 0% surge from last month. Days on market until sale year-to-date fell 10% compared to the same month last year, at 32 days on market until sale. On average, homes spent 39 days in the market until sold, which is a 21% decline from last month. The current supply of active listings on the market in Anna declined 21% this month, with the market supply of homes at 49 houses. There was a 1.2 month supply of available homes this December, a 38% decrease from last month. </p>
<p>MLS Area 21 is the Multiple Listing Service Access number for Anna, as designated by the North Texas Real Estate Information System.  The Dallas Fort-Worth metroplex is composed of 13 counties and two major metropolitan areas - Dallas-Plano-Irving and Fort Worth - in an area of over 9,000 quare miles.  The Dallas Fort-Worth area is, by population, the largest metropolitan area in Texas, the largest in the South, the fourth largest in the United States and the tenth-largest in the Americas.  The Gross Metropolitan Product of The Dallas Fort-Worth metroplex is sixth largest in the United States and about tenth largest in the world.</p>
<p>You can <a href='http://www.dfwhomevaluesreport.com/idx/register.html/' rel='nofollow'>register</a> on our website to have monthly updates on your city and neighborhood automatically emailed to you from DFW Home Values Report. SearchAnna Texas homes, foreclosures, and short sales to find homes in Anna. This service is FREE and available without any obligation from DFWHomeValuesReport.com.</p>
<img src='http://www.dfwteamrealty.com/wp-content/uploads/2016/03/anna-homesales-december-2015.jpg' alt='Anna Texas Real Estate December 2015'  width='600' height='693' class='aligncenter size-full wp-image-7400' />
<p>By <a href='/blog/' rel='author'>Bob Baesmann</a></p>
<div id="link-to-listings">
<h2><a href="http://dfwteamrealty.com/addison-homes-and-real-estate">Click here to view listings in this area</a></h2>
</div>
